* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fuente y fondo global */
body {
  font-family: Arial, sans-serif;
  background-image: url("wallpaper.webp");
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

